.diagram-field {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.archer-container-wrapper {
  width: 1150px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 16px;
  margin-bottom: 46px;
  overflow-x: auto;
}
.archer-container {
  display: inline-block;
  width: auto;
}

.diagram-grid {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0px 96px;
}

.diagram-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.diagram-block-container {
  width: 160px;
  z-index: 1;
}

.diagram-grid-container {
  padding: 16px;
  width: 100%;
}

.diagram-header {
  flex-direction: column;
  display: flex;
  gap: 16px;
  align-items: center;
}
