.diagram-field {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.archer-container {
  /* tutaj sie odjebalo - ze scrollem i szerokoscia grid container*/
  display: flex;
  width: 100%;
}

.diagram-grid {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0px 64px;
}

.diagram-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.diagram-block-container {
  width: 160px;
}

.diagram-grid-container {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 16px;
  margin-bottom: 46px;
  padding: 16px;
  width: 100%;
  overflow-x: auto;
}

.diagram-title {
  margin-bottom: 16px;
}
